bin
Excalidraw
home
running
SpotifyBackup
work
.obsidian
.trash
Education/English Articles
Education/English Vocabulary/*
!Education/English Vocabulary/Cat.md
Education/English Vocabulary/images/*
!Education/English Vocabulary/images/Pasted image 20250525204957.png
Education/Scripts/downloads/*
!Education/Scripts/downloads/cat.mp3